.card {
  margin: 1rem auto;
  padding: 1rem;
  max-width: 30rem;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.High {
  background-color: rgb(228, 50, 50);
}

.Medium {
  background-color: rgb(234, 168, 53);
}

.Low {
  background-color: rgb(249, 249, 87);
}
